html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

body {
	background-color: #CCCCCC;
    color: #333;
    font: 0.75em arial, helvetica, sans-serif;
}

div#header {
	background-color: #0C113B;
	color: white;
	padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-decoration: none;
 	background: none repeat scroll 0 0 transparent;    
}

h1 {
    font-size: 1.35em;
}

h1, h2, h3 {
    margin-bottom: 0.3em;
    margin-top: 1.2em;
    padding-bottom: 1px;
}

table.panel {
	width: 100%;
	border: none;
}

table.panel td {
	width: 50%;
	padding: 5px;
	vertical-align: top;
}

.mgtdList  {
	margin-bottom: 1.5em;
}

.mgtdList h1 {
    border-bottom: 1px solid #AAAAAA;
    color: #444444;
    font-size: 110%;
    margin: 0;
    padding: 0;
}

.mgtdList h2 {
    border-style: none !important;
    color: #444444;
    font-size: 100%;
    margin: 0.7em 0 0 -0.2em;
    padding: 0;
}

.tiddler .title {
	font-size: 150%;
	font-weight: bold;
}
	
.mgtdList .innerList {
	padding: 0.5em 1em 0;
}

.scroll10 .innerList {
    height: 12em;
    overflow: auto;
}

div#appname {
	font-weight: bold;
	font-size: 2em;
}

div#realm {
	margin-top: 15px;
}

div#realm span {
}

span.realm {
	margin: 5px;
	padding: 5px;
	background-color: #999999;
	color: black;
}

span.realm-active {
	background-color: #CCCCCC;
}
	
div#content {
}

#stage {
	margin-right: 22em;
}
		
div#realm span.spacer {
	margin-left: 30px;
	width: 5px;
}

span.button {
}

div#realm .action_link {
	cursor: pointer;
	margin: 0 5px;
	padding: 2px;
}

a {
    text-decoration: none;
    color: #111144;
}

a:hover {
    background-color: #111144;
	color: white;
}

#sidebar {
    font-size: 0.9em;
    position: absolute;
    right: 3px;
    width: 21em;
    margin: 10px;
}

#sidebarTabs .tabContents {
    overflow: hidden;
    width: 94%;
    background-color: white;
    padding: 10px;
    font-size: 120%;
}

#sidebarTabs .tiddlyLinkExisting {
    font-style: normal;
    font-weight: bold;
    padding: 2px 0;
    display: block;
}

.toolbar {
    float: right;
    visibility: hidden;
    color: #393939;
    font-size: 0.9em;
    text-align: right;
    margin-right: 10px;
}

.selected .toolbar {
	visibility: visible;
}

.toolbar a {
	margin: 0 1px;
	padding: 3px;
    color: #393939;
}

.selected .toolbar a:hover {
	background-color: yellow;
}

.tiddler {
	background-color: white;
	border-right: 2px solid #999999; 
	border-bottom: 2px solid #999999;
	margin: 15px;
	padding: 15px; 
}

.viewer {
	clear: both;
}

.controls {
	border: 1px solid #BBB;
	line-height: 1.4em;
	padding: 10px; 
}	

.viewer .button {
    margin: 0 4px;
    padding: 1px 4px;
    font-size: 75%;
}

.button.off {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE;
    color: #CCCCCC;
    font-weight: bold;
    margin: 0 1px 0;
}

.deleteTiddlerButton {
	color: #AF7878;
	vertical-align: bottom;
	font-size: 85%;
	margin: 3px;
} 

.button.off:hover {
}

.viewer .Next.button.on {
    background: none repeat scroll 0 0 #CCFFAA;
    border-color: #5555CC;
    color: #44AA44;
}

.viewer .WaitingFor.button.on {
    background: none repeat scroll 0 0 #FFE8BF;
    border-color: #DFA60D;
    color: #DFA60D;
}

.viewer .Future.button.on {
    background: none repeat scroll 0 0 #CFE9FF;
    border-color: #7FC6FF;
    color: #7FC6FF;
}

.viewer .off:hover {
    background: none repeat scroll 0 0 #FFE59F;
    border-color: #DFA60D;
	color:#333333;
}

.viewer .Starred.button.off {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFFFFF;
    color: #DDDDDD;
}

.viewer .button {
    border: 1px solid #DDBB44;
}

.viewer .button {
    background-color: #FFFFFF;
}

.viewer .tick, .viewer .title {
	font-weight: bold;
	font-size: 150%;
}

.viewer .smaller {
	font-size: 85%;
	color: #999;
}

.viewer .label {
    color: #888888;
    font-size: 90%;
}

.viewer .state {
	margin: 0.5em 0;
}

.viewer .chkContext {
	vertical-align: text-bottom;
}	

.viewer .contextLabel {
	margin: 0 10px 0 2px;
	vertical-align: middle;
}

.viewer .contextAdd {
	cursor: pointer;
	color: black;
	vertical-align: text-top;
}
