html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
	background-color: #CCCCCC;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
	padding:20px;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

div#header {
	background-color: #0C113B;
	color: white;
	padding: 5px;
}

div#appname {
	font-weight: bold;
	font-size: 2em;
}

div#realm {
	margin-top: 15px;
}

div#realm span {
}

span.realm {
	margin: 5px;
	padding: 5px;
	background-color: #999999;
	color: black;
}

span.realm-active {
	background-color: #CCCCCC;
}
	
div#content {
}
		
div#realm span.spacer {
	margin-left: 30px;
	width: 5px;
}

span.button {
}

div#realm .action_link {
	cursor: pointer;
	margin: 0 5px;
	padding: 2px;
}


a {
    text-decoration: none;
    color: #111144;
}

a:hover {
   color: black;
}

.toolbar {
    float: right;
    visibility: hidden;
    color: #393939;
    font-size: 0.9em;
    text-align: right;
    margin-right: 10px;
}

.selected .toolbar {
	visibility: visible;
}

.toolbar a {
	margin: 0 1px;
	padding: 3px;
    color: #393939;
}

.selected .toolbar a:hover {
	background-color: yellow;
}

.tiddler {
	background-color: white;
	border-right: 2px solid #999999; 
	border-bottom: 2px solid #999999;
	margin: 15px;
	padding: 20px; 
}

.viewer {
	border: 1px solid #BBB;
	padding: 10px; 
	line-height: 1.4em;
	clear: both;
}

.viewer .button {
    margin: 0 4px;
    padding: 1px 4px;
}

.viewer .button.on {
    background-color: #555555;
    border-style: none !important;
}

.button.off {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE;
    color: #CCCCCC;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
}

.button.off:hover {
	color:#333333;
}

.viewer .Next.button.on {
    background: none repeat scroll 0 0 #CCFFAA;
    border-color: #5555CC;
    color: #44AA44;
}

.viewer .Starred.button.off {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFFFFF;
    color: #DDDDDD;
}

.viewer .button {
    border: 1px solid #DDBB44;
}

.viewer .button {
    background-color: #FFFFFF;
}

.viewer .tick, .viewer .title {
	font-weight: bold;
	font-size: 150%;
}

.viewer .smaller {
	font-size: 85%;
	color: #999;
}

.viewer .label {
    color: #888888;
    font-size: 90%;
}

.viewer .state {
	margin: 0.5em 0;
}

